<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/styles.css"/>

    <title>Gallery</title>
  
</head>
<body>
    <div class="gallback">
        <img src="/images/herobanner.jpg">
    </div>
    <div class ="main">
      
        <form class="login-form" action="/signup" method="POST">
            <h1>Gallery.</h1>
            <div class="form-control">
                <label for="userid">User Id</label>
                <input type="string" name="userid" id="userid">
            </div>
            <div class="form-control">
                <label for="name">Name</label>
                <input type="string" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="email">Email Id</label>
                <input type="string" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Pass.</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <div class="card_actions" >
            <button class="btn" type="submit" >Signup</button>
        </div>
        </form>
     </div>
</body>
</html>